.grid-container-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
}
.grid-container-index h1 {
    color: white;
    font-size: 50px;
    margin: none;
    padding-left: 15%;
    padding-top: 15%;
}
.grid-container-index p {
    color: white;
    margin: none;
    padding-left: 15%;
    padding-right: 15%;
}
.grid-item-box1 {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-item-box2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url('../images/about.jpg');
    background-size: cover;
}
.grid-container-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: calc(25vw - 2.5vw);
    margin-left: 5vw;
    margin-right: 5vw;
}
.grid-container-service h1 {
    color: white;
    font-size: 50px;
    margin: none;
    padding-left: 15%;
    padding-top: 15%;
    padding-bottom: 10px;
}
.grid-container-service h2 {
    color: white;
    font-size: 25px;
    margin: none;
    padding-left: 15%;
    padding-right: 15%;
}
.grid-container-service p {
    color: white;
    margin: none;
    padding-left: 15%;
    padding-right: 15%;
}
.grid-item-box3 {
    background-color: #F24DFF;
}
.grid-item-box4 {
    background-color: #E863E4;
}
.grid-item-box5 {
    background-color: #B55FE0;
}
.grid-item-box6 {
    background-color: #ae5ccf;
}
.grid-container-team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: calc(25vw - 2.5vw);
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2vw;
}
.grid-container-team h1 {
    color: white;
    font-size: 75px;
    margin: none;
    padding-left: 15%;
    padding-top: 15%;
}
.grid-container-team h2 {
    color: white;
    font-size: 40px;
    margin: none;
    padding-left: 15%;
    padding-right: 15%;
}
.grid-container-team p {
    color: white;
    margin: none;
    padding-left: 15%;
    padding-right: 15%;
}
.grid-item-box1team {
    background-image: url('../images/luca.jpg');
    background-size: cover;
}
.grid-item-box2team {
    background-image: url('../images/timon.jpg');
    background-size: cover;
}
.grid-item-box3team {
    background-image: url('../images/nils2.jpg');
    background-size: cover;
}
.grid-item-box4team {
    background-image: url('../images/enessungalss.jpg');
    background-size: cover;
}
.grid-container-bestwork {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: calc(33.33vw - 7.33vw);
    grid-gap: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
}
.grid-container-bestwork h2 {
    color: white;
    font-size: 75px;
    margin: none;
    padding: 15%;
    font-weight: 700;
}
.grid-item-work1 {
    background-color: black;
}
.grid-item-work2 {
    background-image: url('../images/bestwork/bestwork7.jpg');
    background-size: cover;
}
.grid-item-work3 {
    background-image: url('../images/bestwork/bestwork1.jpg');
    background-size: cover;
}
.grid-item-work4 {
    background-image: url('../images/bestwork/bestwork2.jpg');
    background-size: cover;
}
.grid-item-work5 {
    background-image: url('../images/bestwork/bestwork3.jpg');
    background-size: cover;
}
.grid-item-work6 {
    background-image: url('../images/bestwork/bestwork4.jpg');
    background-size: cover;
}
.grid-item-work7 {
    background-image: url('../images/bestwork/bestwork5.jpg');
    background-size: cover;
}
.grid-item-work8 {
    background-image: url('../images/bestwork/bestwork6.jpg');
    background-size: cover;
}
.grid-item-work9 {
    background-image: url('../images/bestwork/bestwork8.jpg');
    background-size: cover;
}
.claimnow-button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: white;
    border-color: white;
    margin-left: 15%;
}
.claimnow-button:hover {
    color: #fff;
    background-color: #F24DFF;
    border-color: #F24DFF;
}
@media (max-width: 1400px) {
    .grid-container-team {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: calc(50vw - 2.5vw);
   }
 
    .grid-container-service h2 {
        padding-bottom: 10px;
   }
}
@media (max-width: 1100px) {
    .grid-container-service {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: calc(50vw - 5vw);
   }
    .grid-container-service h1 {
        font-size: 35px;
        padding-bottom: 10px;
   }
    .grid-container-service h2 {
        color: white;
        font-size: 25px;
        margin: none;
        padding-left: 15%;
        padding-right: 15%;
   }
    .grid-container-bestwork h2 {
        font-size: 35px;
   }
    .grid-container-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 15vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 2vw;
   }
    .grid-item-box1 {
        background-color: black;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
   }
    .grid-item-box1 h1 {
        padding-left: 5%;
        padding-top: 5%;
   }
    .grid-item-box1 p {
        padding-left: 5%;
   }
    .grid-item-box2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
   }
}
@media (max-width: 800px) {
    .grid-container-team {
        grid-template-columns: 1fr;
        grid-auto-rows: calc(100vw - 2.5vw);
   }
    .grid-item-box2 {
        display: none;
   }
    .grid-item-box1 h1 {
        font-size: 25px;
   }
    .grid-container-bestwork {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: calc(50vw - 4.5vw);
   }
    .grid-container-service h1 {
        padding-left: 5%;
        padding-top: 5%;
   }
    .grid-container-service h2 {
        padding-left: 5%;
   }
    .claimnow-button {
        margin-left: 5%;
   }
   .grid-container-service p {
    display: none;
}
}
@media (max-width: 800px) {
.grid-item-box1 p{
    display: none;
}
}
